[database]
adapter = Mysql
host = localhost
username = root
password = myverysecurepassword
dbname = phaste
charset = utf8

[app]
# Must be set to the root of your app with trailing slash
host = https://paste.example.com/
name = FoxPaste
# https://bootswatch.com/
theme = yeti

[piwik]
host = piwik.example.com
siteid = 1
