[database]
; In theory, this should work with any of Phalcon's adapters
; without any code changes, but no promises.
adapter = Mysql
host = localhost
username = root
password = myverysecurepassword
dbname = phaste
charset = utf8

[app]
; Must be set to the root of your app with trailing slash
host = https://paste.example.com/
name = Phaste
; https://bootswatch.com/
; Set to 'default' to use default bootstrap
site_theme = yeti
; https://highlightjs.org/static/demo/
highlight_theme = github

[piwik]
host = piwik.example.com
siteid = 1

; Don't touch these settings unless you're working on the code, 
; they're not for general use.
[dev]
debug = false