.hljs {
    background: none;
    padding: 0;
}

/* https://jsfiddle.net/tovic/AbpRD/ */
pre {
  background-color: #eee;
  overflow: auto;
  margin: 0 0 1em;
  padding: .5em 1em;
}

pre code,
pre .line-number {
  font-family: "Droid Sans Mono", Monospace;
  display: block;
  white-space: pre;
  overflow: auto;
  word-wrap: normal;
}

pre .line-number {
  float: left;
  margin: 0 1em 0 -1em;
  border-right: 1px solid;
  text-align: right;
}

pre .line-number span:hover {
	background-color: lightgrey;
}

pre .line-number span {
  display: block;
  padding: 0 .5em 0 1em;
  cursor: pointer;
}

pre .cl {
  display: block;
  clear: both;
}

.gh-forkme {
	z-index: 9999;
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}
